# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
font-awesome-4.7.0/fonts/fontawesome-webfont.svg
font-awesome-4.7.0/css/font-awesome.css
font-awesome-4.7.0/css/font-awesome.min.css
font-awesome-4.7.0/fonts/FontAwesome.otf
font-awesome-4.7.0/fonts/fontawesome-webfont.eot
font-awesome-4.7.0/scss/_fixed-width.scss
font-awesome-4.7.0/HELP-US-OUT.txt
font-awesome-4.7.0/fonts/fontawesome-webfont.ttf
font-awesome-4.7.0/fonts/fontawesome-webfont.woff
font-awesome-4.7.0/fonts/fontawesome-webfont.woff2
font-awesome-4.7.0/less/animated.less
font-awesome-4.7.0/less/bordered-pulled.less
font-awesome-4.7.0/less/core.less
font-awesome-4.7.0/less/fixed-width.less
font-awesome-4.7.0/less/font-awesome.less
font-awesome-4.7.0/less/icons.less
font-awesome-4.7.0/less/larger.less
font-awesome-4.7.0/less/list.less
font-awesome-4.7.0/less/mixins.less
font-awesome-4.7.0/less/path.less
font-awesome-4.7.0/less/rotated-flipped.less
font-awesome-4.7.0/less/screen-reader.less
font-awesome-4.7.0/less/stacked.less
font-awesome-4.7.0/less/variables.less
font-awesome-4.7.0/scss/_animated.scss
font-awesome-4.7.0/scss/_bordered-pulled.scss
font-awesome-4.7.0/scss/_core.scss
font-awesome-4.7.0/scss/_icons.scss
font-awesome-4.7.0/scss/_larger.scss
font-awesome-4.7.0/scss/_list.scss
font-awesome-4.7.0/scss/_mixins.scss
font-awesome-4.7.0/scss/_path.scss
font-awesome-4.7.0/scss/_rotated-flipped.scss
font-awesome-4.7.0/scss/_screen-reader.scss
font-awesome-4.7.0/scss/_stacked.scss
font-awesome-4.7.0/scss/_variables.scss
font-awesome-4.7.0/scss/font-awesome.scss
src/_variables.scss
