<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Snack Bar
  </h1>
</div>

<div>

<app-material-snack-bar-demo></app-material-snack-bar-demo>
  
</div>
<i icon = "fa fa-envelope"></i>
    <input class="normal-input" type="email" name="email" placeholder="Maaz" >
<div>
<app-text-box name="envelope">app-text-box loading... </app-text-box>

</div>

<div>
    <app-text-box name="lock">app-text-box loading... </app-text-box>
    
    </div>

    <div>
        <app-text-box name="Paypal">app-text-box loading... </app-text-box>
        
        </div>

        <div>
            <app-text-box name="sentiment neutral">app-text-box loading... </app-text-box>
            
            </div>